@using Microsoft.AspNetCore.Http 
@{
    ViewData["Title"] = "Home Page";
    string s = Context.Session.GetString("SK_LOGINED_USER") ;
}

<div class="text-center">
    <h1 class="display-4">Wel @s come</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
